.add-note {
  background-color: #57b93e;
  color: white;
  padding: 0;
  border: 1px solid green;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  text-align: center;
}

.notepadTitle {
  width: 25%;
  height: 30px;
}
