.myNotes {
  margin: 20px;
}

.add-note {
  background-color: #57b93e;
  color: white;
  padding: 0;
  border: 1px solid green;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  text-align: center;
}

.my-note-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.notepadTitle {
  width: 25%;
  height: 30px;
}

.note {
  width: 50%;
  height: 100px;
  resize: none;
  font-size: 15px;
}

@media screen and (max-width: 320px) {
  .noteTitle {
    width: 100%;
    height: 30px;
  }

  .note {
    width: 100%;
  }
}
